azure/azuredeploy.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "metadata": {
    "description": "Zscaler SVPN -> FortiGate feed (Logic App). Community solution, provided as-is, no warranty, not an official Zscaler product."
  },
  "parameters": {
    "zscalerCloud": {
      "type": "string",
      "defaultValue": "zscaler.net",
      "allowedValues": [
        "zscaler.net",
        "zscalertwo.net",
        "zscalerthree.net",
        "zscalerten.net",
        "zscalereleven.net",
        "zscalertwelve.net",
        "zscalerbeta.net",
        "zspreview.net",
        "zscloud.net",
        "zscalergov.us"
      ],
      "metadata": {
        "description": "Your Zscaler cloud name."
      }
    },
    "refreshIntervalHours": {
      "type": "int",
      "defaultValue": 6,
      "minValue": 1,
      "metadata": {
        "description": "Refresh cadence in hours."
      }
    },
    "exposureMode": {
      "type": "string",
      "defaultValue": "PublicRead",
      "allowedValues": [
        "PublicRead",
        "Private"
      ],
      "metadata": {
        "description": "PublicRead = anonymous HTTPS read of the two blobs. Private = no anonymous access; front with Azure Front Door or SAS."
      }
    },
    "minExpected": {
      "type": "int",
      "defaultValue": 10,
      "minValue": 1,
      "metadata": {
        "description": "Refuse to publish below this many IPs."
      }
    },
    "location": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]"
    }
  },
  "variables": {
    "storageAccountName": "[concat('svpnfeed', uniqueString(resourceGroup().id))]",
    "logicAppName": "[concat('svpn-feed-', uniqueString(resourceGroup().id))]",
    "containerName": "feed",
    "blobContributorRoleId": "[subscriptionResourceId('Microsoft.Authorization/roleDefinitions', 'ba92f5b4-2d11-453d-a403-e96b0029c9fe')]",
    "publicAccessFlag": "[equals(parameters('exposureMode'), 'PublicRead')]",
    "containerPublicAccess": "[if(equals(parameters('exposureMode'), 'PublicRead'), 'Blob', 'None')]"
  },
  "resources": [
    {
      "type": "Microsoft.Storage/storageAccounts",
      "apiVersion": "2023-01-01",
      "name": "[variables('storageAccountName')]",
      "location": "[parameters('location')]",
      "sku": {
        "name": "Standard_LRS"
      },
      "kind": "StorageV2",
      "properties": {
        "minimumTlsVersion": "TLS1_2",
        "supportsHttpsTrafficOnly": true,
        "allowBlobPublicAccess": "[variables('publicAccessFlag')]"
      }
    },
    {
      "type": "Microsoft.Storage/storageAccounts/blobServices/containers",
      "apiVersion": "2023-01-01",
      "name": "[concat(variables('storageAccountName'), '/default/', variables('containerName'))]",
      "dependsOn": [
        "[resourceId('Microsoft.Storage/storageAccounts', variables('storageAccountName'))]"
      ],
      "properties": {
        "publicAccess": "[variables('containerPublicAccess')]"
      }
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2019-05-01",
      "name": "[variables('logicAppName')]",
      "location": "[parameters('location')]",
      "identity": {
        "type": "SystemAssigned"
      },
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "zscalerCloud": {
              "type": "String"
            },
            "storageAccount": {
              "type": "String"
            },
            "containerName": {
              "type": "String"
            },
            "minExpected": {
              "type": "Int"
            },
            "intervalHours": {
              "type": "Int"
            }
          },
          "triggers": {
            "Recurrence": {
              "type": "Recurrence",
              "recurrence": {
                "frequency": "Hour",
                "interval": "@parameters('intervalHours')"
              }
            }
          },
          "actions": {
            "HTTP_Get_Zscaler": {
              "type": "Http",
              "runAfter": {},
              "inputs": {
                "method": "GET",
                "uri": "@{concat('https://config.zscaler.com/api/', parameters('zscalerCloud'), '/cenr/json')}",
                "headers": {
                  "Accept": "application/json"
                }
              }
            },
            "Filter_v4": {
              "type": "Query",
              "runAfter": {
                "HTTP_Get_Zscaler": [
                  "Succeeded"
                ]
              },
              "inputs": {
                "from": "@coalesce(body('HTTP_Get_Zscaler')?['svpnIPs'], createArray())",
                "where": "@and(contains(item(), '.'), not(contains(item(), ':')))"
              }
            },
            "Filter_v6": {
              "type": "Query",
              "runAfter": {
                "HTTP_Get_Zscaler": [
                  "Succeeded"
                ]
              },
              "inputs": {
                "from": "@coalesce(body('HTTP_Get_Zscaler')?['svpnIPs'], createArray())",
                "where": "@contains(item(), ':')"
              }
            },
            "Compose_v4": {
              "type": "Compose",
              "runAfter": {
                "Filter_v4": [
                  "Succeeded"
                ]
              },
              "inputs": "@concat('# Zscaler SVPN IPv4', decodeUriComponent('%0A'), join(sort(union(body('Filter_v4'), body('Filter_v4'))), decodeUriComponent('%0A')), decodeUriComponent('%0A'))"
            },
            "Compose_v6": {
              "type": "Compose",
              "runAfter": {
                "Filter_v6": [
                  "Succeeded"
                ]
              },
              "inputs": "@concat('# Zscaler SVPN IPv6', decodeUriComponent('%0A'), join(sort(union(body('Filter_v6'), body('Filter_v6'))), decodeUriComponent('%0A')), decodeUriComponent('%0A'))"
            },
            "Compose_v4_Plain": {
              "type": "Compose",
              "runAfter": {
                "Filter_v4": [
                  "Succeeded"
                ]
              },
              "inputs": "@concat(join(sort(union(body('Filter_v4'), body('Filter_v4'))), decodeUriComponent('%0A')), decodeUriComponent('%0A'))"
            },
            "Compose_v6_Plain": {
              "type": "Compose",
              "runAfter": {
                "Filter_v6": [
                  "Succeeded"
                ]
              },
              "inputs": "@concat(join(sort(union(body('Filter_v6'), body('Filter_v6'))), decodeUriComponent('%0A')), decodeUriComponent('%0A'))"
            },
            "Check_Min_Count": {
              "type": "If",
              "runAfter": {
                "Compose_v4": [
                  "Succeeded"
                ],
                "Compose_v6": [
                  "Succeeded"
                ],
                "Compose_v4_Plain": [
                  "Succeeded"
                ],
                "Compose_v6_Plain": [
                  "Succeeded"
                ]
              },
              "expression": {
                "and": [
                  {
                    "greaterOrEquals": [
                      "@add(length(body('Filter_v4')), length(body('Filter_v6')))",
                      "@parameters('minExpected')"
                    ]
                  }
                ]
              },
              "actions": {
                "If_Has_IPv4": {
                  "type": "If",
                  "runAfter": {},
                  "expression": {
                    "and": [
                      {
                        "greater": [
                          "@length(body('Filter_v4'))",
                          0
                        ]
                      }
                    ]
                  },
                  "actions": {
                    "Put_IPv4": {
                      "type": "Http",
                      "runAfter": {},
                      "inputs": {
                        "method": "PUT",
                        "uri": "@{concat('https://', parameters('storageAccount'), '.blob.core.windows.net/', parameters('containerName'), '/svpn_ipv4.txt')}",
                        "headers": {
                          "x-ms-blob-type": "BlockBlob",
                          "x-ms-version": "2021-08-06",
                          "Content-Type": "text/plain; charset=utf-8"
                        },
                        "body": "@outputs('Compose_v4')",
                        "authentication": {
                          "type": "ManagedServiceIdentity",
                          "audience": "https://storage.azure.com/"
                        }
                      }
                    },
                    "Put_IPv4_Cisco": {
                      "type": "Http",
                      "runAfter": {},
                      "inputs": {
                        "method": "PUT",
                        "uri": "@{concat('https://', parameters('storageAccount'), '.blob.core.windows.net/', parameters('containerName'), '/svpn_ipv4_cisco.txt')}",
                        "headers": {
                          "x-ms-blob-type": "BlockBlob",
                          "x-ms-version": "2021-08-06",
                          "Content-Type": "text/plain; charset=utf-8"
                        },
                        "body": "@outputs('Compose_v4_Plain')",
                        "authentication": {
                          "type": "ManagedServiceIdentity",
                          "audience": "https://storage.azure.com/"
                        }
                      }
                    }
                  },
                  "else": {
                    "actions": {}
                  }
                },
                "If_Has_IPv6": {
                  "type": "If",
                  "runAfter": {},
                  "expression": {
                    "and": [
                      {
                        "greater": [
                          "@length(body('Filter_v6'))",
                          0
                        ]
                      }
                    ]
                  },
                  "actions": {
                    "Put_IPv6": {
                      "type": "Http",
                      "runAfter": {},
                      "inputs": {
                        "method": "PUT",
                        "uri": "@{concat('https://', parameters('storageAccount'), '.blob.core.windows.net/', parameters('containerName'), '/svpn_ipv6.txt')}",
                        "headers": {
                          "x-ms-blob-type": "BlockBlob",
                          "x-ms-version": "2021-08-06",
                          "Content-Type": "text/plain; charset=utf-8"
                        },
                        "body": "@outputs('Compose_v6')",
                        "authentication": {
                          "type": "ManagedServiceIdentity",
                          "audience": "https://storage.azure.com/"
                        }
                      }
                    },
                    "Put_IPv6_Cisco": {
                      "type": "Http",
                      "runAfter": {},
                      "inputs": {
                        "method": "PUT",
                        "uri": "@{concat('https://', parameters('storageAccount'), '.blob.core.windows.net/', parameters('containerName'), '/svpn_ipv6_cisco.txt')}",
                        "headers": {
                          "x-ms-blob-type": "BlockBlob",
                          "x-ms-version": "2021-08-06",
                          "Content-Type": "text/plain; charset=utf-8"
                        },
                        "body": "@outputs('Compose_v6_Plain')",
                        "authentication": {
                          "type": "ManagedServiceIdentity",
                          "audience": "https://storage.azure.com/"
                        }
                      }
                    }
                  },
                  "else": {
                    "actions": {}
                  }
                }
              },
              "else": {
                "actions": {
                  "Terminate_Insufficient_IPs": {
                    "type": "Terminate",
                    "inputs": {
                      "runStatus": "Failed",
                      "runError": {
                        "code": "InsufficientIPs",
                        "message": "Fewer than minExpected valid IPs were found; existing feed preserved and run marked failed for visibility."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": {
          "zscalerCloud": {
            "value": "[parameters('zscalerCloud')]"
          },
          "storageAccount": {
            "value": "[variables('storageAccountName')]"
          },
          "containerName": {
            "value": "[variables('containerName')]"
          },
          "minExpected": {
            "value": "[parameters('minExpected')]"
          },
          "intervalHours": {
            "value": "[parameters('refreshIntervalHours')]"
          }
        }
      }
    },
    {
      "type": "Microsoft.Authorization/roleAssignments",
      "apiVersion": "2022-04-01",
      "name": "[guid(resourceGroup().id, variables('logicAppName'), variables('containerName'), 'blobcontrib')]",
      "scope": "[resourceId('Microsoft.Storage/storageAccounts/blobServices/containers', variables('storageAccountName'), 'default', variables('containerName'))]",
      "dependsOn": [
        "[resourceId('Microsoft.Storage/storageAccounts/blobServices/containers', variables('storageAccountName'), 'default', variables('containerName'))]",
        "[resourceId('Microsoft.Logic/workflows', variables('logicAppName'))]"
      ],
      "properties": {
        "roleDefinitionId": "[variables('blobContributorRoleId')]",
        "principalId": "[reference(resourceId('Microsoft.Logic/workflows', variables('logicAppName')), '2019-05-01', 'full').identity.principalId]",
        "principalType": "ServicePrincipal"
      }
    }
  ],
  "outputs": {
    "feedUrlIPv4": {
      "type": "string",
      "value": "[concat('https://', variables('storageAccountName'), '.blob.core.windows.net/', variables('containerName'), '/svpn_ipv4.txt')]"
    },
    "feedUrlIPv6": {
      "type": "string",
      "value": "[concat('https://', variables('storageAccountName'), '.blob.core.windows.net/', variables('containerName'), '/svpn_ipv6.txt')]"
    },
    "feedUrlIPv4Cisco": {
      "type": "string",
      "value": "[concat('https://', variables('storageAccountName'), '.blob.core.windows.net/', variables('containerName'), '/svpn_ipv4_cisco.txt')]"
    },
    "feedUrlIPv6Cisco": {
      "type": "string",
      "value": "[concat('https://', variables('storageAccountName'), '.blob.core.windows.net/', variables('containerName'), '/svpn_ipv6_cisco.txt')]"
    },
    "exposureMode": {
      "type": "string",
      "value": "[parameters('exposureMode')]"
    },
    "accessNote": {
      "type": "string",
      "value": "[if(equals(parameters('exposureMode'), 'Private'), 'Private mode: the feed URLs require authentication and will return 403 anonymously. Front the container with Azure Front Door or generate a SAS URL for FortiGate.', 'PublicRead mode: the feed URLs are anonymously reachable over HTTPS.')]"
    }
  }
}